body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.text {
  flex: 1;
  position: flex;
  margin-left: -100%;
  margin-top: 0%;
  text-align: center;
}

.text h1 {
  font-size: 3em;
  margin: 0;
  color: #333;
}

.text p {
  margin-left: 20px;
  font-size: 1.2em;
  color: #666;
}

.photo {
  flex: 1;
  margin-left: 90%;
  text-align: center;
  width: 80%;
  height: 25%;
  margin-top: -25%;
}

.photo img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
}

.text-color {
  color: aqua;
}

.button {
  --color: aqua;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  margin-left: 80px;
  width: 100px;
  height: 25px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  top: 20px;
  left: 25%;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.button::before,
.button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(.8);
}

.button1 {
  width: 250px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}
