* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.teks1 {
    flex: 1;
    display: flex;
    margin-right: 40%;
    margin-top: -10%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 3em;
    font-family: Arial, sans-serif;
    z-index: -9999;
}

.teks2 {
    color: white;
    text-align: center;
}

.teks3 {
    color: aqua;
    margin-top: 0;
    margin-top: 5%;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
}

.card {
    color: rgb(255, 3, 3);
    background-color: white;
    height: 30%;
    width: 20%;
    border-radius: 3%;
    margin-top: 5%;
    margin-left: 10%;
    text-align: center;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card2 {
    color: rgb(255, 3, 3);
    background-color: white;
    height: 30%;
    width: 20%;
    border-radius: 3%;
    margin-top: -230px;
    margin-left: 40%;
    text-align: center;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card3 {
    color: rgb(255, 3, 3);
    background-color: white;
    height: 30%;
    width: 20%;
    border-radius: 3%;
    margin-top: -230px;
    margin-left: 70%;
    text-align: center;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card4 {
    color: rgb(255, 3, 3);
    background-color: white;
    height: 30%;
    width: 20%;
    border-radius: 3%;
    margin-top: 5%;
    margin-left: 10%;
    text-align: center;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card5 {
    color: rgb(255, 3, 3);
    background-color: white;
    height: 30%;
    width: 20%;
    border-radius: 3%;
    margin-top: -230px;
    margin-left: 40%;
    text-align: center;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card6 {
    color: rgb(255, 3, 3);
    background-color: white;
    height: 30%;
    width: 20%;
    border-radius: 3%;
    margin-top: -230px;
    margin-left: 70%;
    text-align: center;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-color {
    color: aqua;
}

.keterangan {
    margin-top: -45vh;
    margin-left: 280px;
    font-size: 1.2em;
    color: #666;

}

/* gambar*/
.photo {
    margin-top: -15%;
    flex: 1;
    margin-left: 60%;
    width: 40%;
    height: 25%;
}

.gambar {
    width: 50%;
    height: auto;
}

.project {
    height: 100vh;
    margin-top: 25%;
    background-color: white;
}

.project1 {
    width: 100%;
    height: auto;
    margin-top: 1%;
    border-radius: 5%;
}

.project2 {
    width: 100%;
    height: auto;
    margin-top: 1%;
    border-radius: 5%;
}

.project3 {
    width: 100%;
    height: auto;
    margin-top: 1%;
    border-radius: 5%;
}

.project4 {
    width: 100%;
    height: auto;
    margin-top: 1%;
    border-radius: 5%;
}

.project5 {
    width: 100%;
    height: auto;
    margin-top: 1%;
    border-radius: 5%;
}

.project6 {
    width: 100%;
    height: auto;
    margin-top: 1%;
    border-radius: 5%;
}

/*navbar*/
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #191e24;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    align-items: center;
    gap: 50px;
    padding: 20px 50px;
}

.navbar .logo {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.navbar .navbar-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar .navbar-nav .nav-link {
    color: white;
    transition: .3s;
}

.navbar .navbar-nav .nav-link:hover {
    color: aqua;
}

/* navbar-icon */

/* akhir navbar icon */
.btn {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    margin-left: 280px;
    margin-top: 50px;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

button:hover {
    color: black;
}

button:after {
    content: "";
    background: aqua;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.ket-1 {
    margin-top: 10px;
}

.ket-2 {
    margin-top: 10px;
}

.ket-3 {
    margin-top: 10px;
}

.ket-4 {
    margin-top: 10px;
}

.ket-5 {
    margin-top: 10px;
}

.ket-6 {
    margin-top: 10px;
}

.Contact-teks {
    color: aqua;
    margin-top: 0;
    margin-top: 5%;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
}

.Contact-info {
    width: 100%; /* Lebar container */
    height: 25%;
    margin-top: 27%;
    padding: 2%; /* Ruang di dalam container */
    background-color: #000000; /* Warna latar belakang */
}

.Contact-info1 {
    color: white;
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
    text-align: center;
    margin-top: -10px;
}

.icon-ig {
    color: white;
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
    margin-left: 35%;
    margin-top: 40px;
}

.icon-wa {
    color: white;
    font-family: Arial, sans-serif;
    margin-left: 47%;
    margin-bottom: -10px;
    margin-top: -1%;
}

.icon-yt {
    color: white;
    font-family: Arial, sans-serif;
    margin-left: 60%;
    margin-top: -19px;
}

.copyright {
    color: rgb(255, 0, 0);;
    margin-left: 47%;
    font-size: 13px;
    text-transform: capitalize;
    margin-top: -2%;
}

.tumbal11{
    color: red;
}

.tumbal22 {
    color: red;
}